
.product-info{
    width: 1250px;
    margin: 80px auto 0; 
   
    overflow-x: hidden;
}

    

.product-info .product{
    
    margin-top: 0px;
    margin-left: 40px;
    /* border: 1px solid black; */
    
    box-shadow: 0px 0px 10px 2px grey;
    width: 650px;
    float: left;
    margin-bottom: 100px;

}

.product-info .product .img-product{
    
    max-height: 600px;
    width: 600px;
    margin-left: 20px;
    

}
.product-info .product h1{
    margin-bottom: 8px;
    margin-left: 20px;
    
}
.product-info .product p{
    margin-bottom: 8px;
    margin-left: 20px;
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    padding-bottom: 15px;
    
}

.product-info .b-t-1{

    box-shadow: 0 0 1em #DDD;
    border: 1px solid rgb(121, 121, 121);
    width: 470px;
    height: 450px;
    float: left;
    margin-left: 50px;
    margin-top: 0px;

   
    
}

.product-info .b-t-1 h2{
    padding-bottom: 10px;
    padding-top: 100px;
    margin-left: 160px;
    
}

.product-info .b-t-1 .comprar .btnc{
    padding: 25px;
    width: 61%;
    color: white;
    background-color: rgb(25, 0, 255);
    border: none;
    border-radius: 6px;
    font-size: 25px;
    margin-left: 13%;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    
    box-shadow: 2px 2px 5px 5px rgb(8, 13, 77),
     2px 2px 5px 5px rgb(9, 201, 40);
    
    
}
.product-info .b-t-1 .comprar .btnc:hover{
    
    transition: all 0.1s; 
    background-color: rgb(13, 0, 133); 
    border-radius: 10px;
    box-shadow:0px 0px 3px 4px rgb(0, 1, 12) inset,  
    -5px -5px 7px 10px rgb(0, 7, 78) inset,
    -1px -1px 0px 11px rgb(0, 7, 78) inset;
     
}
.product-info .b-t-1 .comprar .btnc:active{
    
    background: rgb(0, 138, 92);
    box-shadow:0px 0px 3px 3px rgb(23, 77, 30) inset,  
    0px 0px 5px 10px rgb(9, 201, 40) inset,
    0px 0px 0px 12px rgb(248, 255, 248) inset;
     
}


.product-info .b-t-1 .btn{
    margin-left: 23%;
    margin-top: 15px;
    cursor: pointer;
    
}



.product-info .b-t-1 .CEP{
    margin-top: 60px;
    margin-left: 14%;
    
}
.product-info .b-t-1 .CEP a{
    margin-left: 10px;
    color: grey;
}

.product-info .b-t-1 .CEP button{
    position: absolute;
    margin-left: -32px;
    border: none;
    height: 34px;
    width: 35px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    cursor: pointer;
    
}


.product-info .b-t-1 .CEP input{
    border: 1px solid #DDD;
    border-radius: 4px;
    width: 150px;
    height: 30px;
    outline: none;
    

}


