header#main-header{
    background-color: black;
    color: #DDD;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5050;
    
    height: 50px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    
   
    
    

}
